/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Serif Text', 'Segoe UI', sans-serif ;
  src: url('./fonts/DM_Serif_Text/DMSerifText-Regular.ttf') format('truetype');
}

.hero {
  background-image: url('./images/homepage.png'); /* adjust path as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw; 
  position: relative;
  color: #1c392a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.glass-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height:90%;
  padding-bottom: 2rem ;
  border-radius: 20px;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  max-width: 950px;
  color: #1c392a;
}

/* Navbar */
.message{
  color:antiquewhite
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  margin:0;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: rgba(94, 60, 30, 0.9);
  color: white;
  align-items: center;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.sign-in {
  background-color: #f5c518;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: black;
  font-weight: bold;
}

/* Hero Content */
.hero-content {
  width: 100%;
  text-align: center;
  
}

.hero-content h1 {
 
  font-size: 3.2rem;
  font-weight: 700;
  color: #1c392a;
}

.hero-content p {
  margin: 1rem 0;
  font-size: 1.3rem;
  
  font-weight: 500;
  color: black;
  padding-bottom: 15px;
}

.explore-btn {
  padding: 0.8rem 1.5rem;
  background-color: #184d3a;
  color: white;
  text-decoration: none;
  
  border-radius: 6px;
  font-weight: bold;
}

/* Search Box */
.search-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  background: #fefbe8;
  border-radius: 15px;
  padding: 1rem;
  margin: 0 auto;
  width: fit-content;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 850px;
}

.search-box input,
.search-box select {
  padding: 0.8rem;
  border: 1px solid #ddd;
  color: #1c392a;
  border-radius: 10px;
  background: #f7f7f5;
  width: 200px;
}

.search-btn {
  background-color: #d4a300;
  color: black;
  font-weight: bold;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #b58b00;
}
.cart-logo{
  color: wheat;
  background-image: url('./shopping.png');
  background-size:25px; 
  background-color: rgba(94, 60, 30, 0.9);;
  background-repeat: no-repeat;
  
}